$enable-shadows: true;
$primary: #234382;

$body-color: #333;
$body-bg: #ffffff;

body {
  margin: 0;
  font-family: Nanum Gothic, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title-text {
  font-family: Nanum Gothic;
  font-style: normal;
  font-weight: 800;
  font-size: 1.6rem;
  line-height: 140%;
}

.title-text-light {
  font-family: Nanum Gothic;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 140%;
}

.body-text {
  font-family: Nanum Gothic;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
}

.subtitle-text {
  font-family: Nanum Gothic;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 140%;
}

.custom-btn {
  /* Main Color */
  background: $primary;
  color: #ffffff;
  box-shadow: 0px 4px 10px rgba(36, 50, 124, 0.4);
  border-radius: 50px;

  font-family: Nanum Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 140%;

  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  border: none;
}

.custom-btn:hover {
  color: #c3d1ef !important;
  text-decoration: none;
}

.form-control:focus {
  box-shadow: none;
}

.hashtag {
  background-color: lightgray;
  color: black;
  margin-right: 0.5rem;
  padding-right: 0.25rem;
  padding-left: 0.25rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

.lecture_note {
  width: 40% !important;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  .card {
    display: inline-block;
  }
}

.pdf-viewer {
  border: 1px;
  border-color: $body-color;
}

.lecture_btn {
  background-color: none;
  border: none;
}

.list-selected {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.25rem;
  background-color: #ebebeb;
}

.list-unselected {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.25rem;
  background-color: white;
}

@media (min-width: 768px) {
  .login-content {
    margin: auto;
    border: 1px solid #dddddd;
    border-radius: 5px;
    width: 450px;
  }
}
@media (max-width: 767px) {
  .login-content {
    width: 100vw;
    padding: 30px 50px;
  }
}
.login-module {
  background-color: white;
  height: 100vh;
  padding: 15px;
}

@media (min-width: 768px) {
  .login-module {
    height: 100%;
    margin: 45px 15px;
  }
}

.login-logo {
  padding-bottom: 50px;
}

.login-button {
  margin-top: 15px !important;
  float: right;
}

@import '~bootstrap/scss/bootstrap';
